<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catagories</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Catagory Page</h1><br>
    <div class="container2">
        <p>Please Select Catagory And Enter Your Spending As Well As The Date</p><br><br>
       
        <form action="addCatagory" method="POST">
            <h2>Add category</h2><br>
            <div class="errorMessage">
                {{messages.error}}
            </div>
            <div class="successMessage">
                {{messages.success}}
            </div><br><br>
            <label for="category">Catagory:</label>
            <select id="category" name="category">
               <option value="">Select Category</option>
               {{#each category}}
               <option value="{{id}}">{{category}}</option>
               {{/each}}
            </select><br><br>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date"><br><br>
            <label for="cost">The Cost:</label><input type="text" id="cost" name="cost"><br><br>
            <button type="submit">Submit</button>
        </form>
        <div>
            <h2>Selected Category</h2>
            <table align="center">
                <tr>
                    <th>Selected by</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Day</th>
                </tr>
                {{#each expenseInfo}}
                <tr>
                    <td>{{username}}</td>
                    <td>R{{cost}}</td>
                    <td>{{category}}</td>
                    <td>{{day}}</td>
                </tr>
                {{/each}}
                

            </table>
        </div>
    </div>
</body>
</html>